body {
  font-family: "Inter", sans-serif;
  margin: 0;
  background-color: #0e1823;
}

button {
  font-family: inherit;
  border: none;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  height: auto;
}

.header-page {
  background-color: #fbfbfb;
  border: 1px solid #fbfbfb;
  border-radius: 8px;
  width: 1240px;
  margin: 0 auto;
  padding: 4px 30px;
}
.header-container {
  display: flex;
  align-items: center;
}
.header-page-navigation {
  display: flex;
  align-items: center;
  gap: 375px;
}
.header-page-logo {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: -0.03em;
  color: #1b414b;
}
.header-page-nav-list {
  display: flex;
  gap: 4px;
}
.nav-list-item {
}
.nav-list-link {
  background: rgba(27, 65, 75, 0.5);
  border-radius: 8px;
  padding: 15px 25px 15px 24px;
  display: block;
  font-weight: 400;
  font-size: 9px;
  line-height: 1.3;
  text-transform: uppercase;
  text-align: center;
  color: #fbfbfb;
}
.current {
}
.header-page-social-list {
  display: flex;
  gap: 8px;
  margin-left: auto;
}
.social-list-item {
  width: 24px;
  height: 24px;
}
.social-link {
  color: #fbfbfb;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fbfbfb;
}

.nav-list-link:hover,
.nav-list-link:focus {
  background-color: #1b414b;
}

.social-link:hover,
.social-link:focus {
  background: rgba(27, 65, 75, 0.5);
}

.social-link-icon {
  fill: #1b414b;
}

.container {
  max-width: 1270px;
  margin: 0 auto;
}

.yacht-rental-section {
  padding-top: 155px;
  padding-bottom: 180px;
}

.yacht-rental-section-image {
  background-image: url(../images/yacht-rental-section-image.jpg);
  background-size: cover;
  width: 100%;
  height: 800px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.yacht-rental-title {
  font-weight: 500;
  font-size: 80px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
  max-width: 1001px;
  margin: 0 auto;
  padding-bottom: 24px;
}
.yacht-rental-text {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.4;
  text-align: center;
  color: rgba(251, 251, 251, 0.7);
  max-width: 597px;
  margin: 0 auto;
  padding-bottom: 48px;
}
.service-button {
  background-color: #1b414b;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.1;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  display: block;
  border-radius: 15px;

  min-width: 179px;
  height: 52px;

  margin: 0 auto;
}

.service-button:hover,
.service-button:focus {
  background-color: #fbfbfb;
  color: #1b414b;
}

.yachtjet-fleet-section {
  background-color: #fbfbfb;
  border-radius: 24px;
  width: 1340px;

  margin: 0 auto;
}

.yachtjet-fleet-container-text {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 299px;
  padding: 50px 50px 0px 50px;
}
.yachtjet-fleet-main-title {
  font-weight: 500;
  font-size: 48px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #1b414b;
  max-width: 537px;
  margin-bottom: 143px;
}
.yachtjet-fleet-container {
  max-width: 404px;
  margin-bottom: 100px;
}
.yachtjet-fleet-title {
  font-weight: 400;
  font-size: 23px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #1b414b;
  margin-bottom: 20px;
}
.yachtjet-fleet-text {
  font-weight: 400;
  font-size: 13px;
  line-height: 1.15;
  letter-spacing: -0.02em;
  color: #040306;

  opacity: 0.4;
}
.yachtjet-fleet-image {
  width: 100%;
  margin: 0 auto;
  padding-left: 0;
  padding-right: 0;
}

.rent-a-yacht-form {
  width: 472px;
}

.label-form {
  display: block;
  margin-bottom: 18px;
}

.input-form {
  border: 1px solid rgba(251, 251, 251, 0.2);
  border-radius: 12px;
  padding: 18px;
  width: 100%;
  height: 54px;
  background-color: transparent;
}

.rent-a-yacht-button {
  border-radius: 15px;
  padding: 18px 75px;
  width: 194px;
  height: 56px;
}

.footer-icon {
  fill: #fbfbfb;
}
